* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

.input-field{
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    height:250px;
    width: 1000px;
    border: 10px solid rgb(4, 6, 5);
    box-shadow: inset;
    
}

.keybord-conteiner{
    margin:0 auto;
    max-width: 1200px; 
    width: 100%;  
    background-color: #304a3f;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    box-shadow: -4px -6px 8px 2px rgba(0, 0, 0, .5),
               8px 6px 12px rgba(0,0,0,.75);
    border-radius: 20px;
    position: relative;
    
}

.button-key{
    width: 6.8%;
    height: 65px;
    margin: 2px;
    font-size: 2.5em;
    background-color: #0e442d;
    color: azure;
    outline: none;
    border-radius: 10px;
}

.button-key:active{
    background-color: black;
}

.button-key:nth-child(13) {
    width: 8%;
}

.button-key:nth-child(12),
.button-key:nth-child(27),
.button-key:nth-child(39),
.button-key:nth-child(40){
    width: 12%;
}

.button-key:nth-child(51) {
    width: 12%;
}

.button-key:nth-child(56) {
    width: 32%;
}

.text {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
}